<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        h3{
            border: 1px solid palevioletred;
            width: 300px;
            margin: 0px auto;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h3>The current time and date:</h3>
    <h1>{{ time }}</h1>
</body>

</html>