<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckerBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static" , filename="style.css") }}">
    <style>
        .color1{
        background-color: {{color1}};
        }

        .color2{
        background-color: {{color2}};
        }
    </style>
</head>
<body>

{{board | safe}}
<!-- <div class='red'></div>
<div class='black'></div>
<div class='red'></div>
<div class='black'></div>
<div class='red'></div>
<div class='black'></div><br>
<div class='red'></div>
<div class='black'></div>
<div class='red'></div>
<div class='black'></div>
<div class='red'></div>
<div class='black'></div><br> -->
    
</body>
</html>