<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play Around and Fun with Python</title>
    <style>
        body {
          background-color: rgb(105, 17, 206);
          text-align: center;
        }
        
        h1 {
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          color: rgb(43, 226, 156);
        } 

        div {
            width: 90px;
            height: 90px;
            /* background-color: rgb(233, 30, 97); */
            border: 2px solid burlywood;
            display: inline-block;
            padding: 20px;
            margin: 2px;
        }
        </style>
</head>
<body>
    <h1>Welcome funny boxes website</h1>
    {% for i in range (num): %}
    <div style="background-color: {{box_color}}" ></div>
    {% endfor %}
</body>
</html>