<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered table-striped" >
        <tr>
            <th>Frist Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for each_user in users %}
            <tr>
                <td>{{each_user['first_name']}}</td>
                <td>{{each_user['last_name']}}</td>
                <td>{{each_user['first_name']}} {{each_user['last_name']}}</td>
            </tr>
        {% endfor %}
        <!-- <tr>
            
            {{users[0]['first_name']}}
            <td>Michael</td>
            <td>Choi</td>
            <td>Michael Choi</td>
            {{tblist | safe}}
            {{users | safe}}
        </tr> -->
    </table>
</body>
</html>