<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Test!!!</h1>

    <h1>Add a Friend</h1>
    <form action="/create_friend" method="POST">
        <p>First Name: <input type="text" name="fname"></p>
        <p>Last Name: <input type="text" name="lname"></p>
        <p>Occupation: <input type="text" name="occ"></p>
        <input type="submit" value="Add Friend">
    </form>

    <h1>All My Friends</h1>
    {% for each_friend in all_friends %}
    <p>First Name: {{each_friend["first_name"]}}</p>
    <p>Last Name: {{each_friend["last_name"]}}</p>
    <p>Occupation: {{each_friend["occupation"]}}</p>
    <hr>
    {% endfor %}


</body>

</html>