<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            text-align: center;
        }
        div{
            width: 310px;
            border: 1px solid palevioletred;
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <h2>Random Word (attempt #{{request.session.count}})</h2>
    <div>
        <h1>{{ text }}</h1>
    </div>
    <br>
    <form method="POST" action="/">
        {% csrf_token %}
        <button name="submit" type="submit">Generate</button>
    </form>
    <br>
    <form action="/clear">
        <button>Clear</button>
    </form>
</body>
</html>